body,
button {
  font: 14px "Helvetica Neue", Arial, sans-serif;
  line-height: 1.4;
}

body {
  background:#E3E3E3;
  padding: 2em;
  color:#252525
}

table {
  border-collapse:collapse;
  width:100%;
}
  caption {
    display:none
  }
  th,
  td {
    padding:0.6em;
    text-align:left;
  }
  tbody {
    font-size: 90%
  }
  tbody > tr > td,
  tbody > tr > th {
    border:1px dashed #DDD;
  }

/* Common
 **************************************************************************************************/

.ng-cloak {
  display:none
}

.ribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

/* Header/Summary
 **************************************************************************************************/

.head {
  width:50em;
  margin:0 auto 3em auto;
  font-size:130%;
}
  h1,
  h2 {
    margin: 0;
    padding: 0;
  }
  h1 {
    font-size: 300%;
  }
  h2 {
    font-weight: normal;
    font-size: 140%;
  }
  code {
    padding: 0.1em 0.4em;
    background: #CCC;
  }

/* Results
 **************************************************************************************************/

.results {
  background:#F9F9F9;
  padding:2em;
}

/* Filters
 **************************************************************************************************/

.toolbar {
  text-align:center;
  margin-bottom:2em;
}
  .tbgroup {
    display: inline-block;
  }
  .filters {
    margin-right: 2em;
  }
    .btn {
      background: transparent;
      border-width:0 0 4px 0;
      border-style: solid;
      border-color:#CCC;
      margin:0 0.5em;
      cursor: pointer;
    }
      .btn--active {
        border-color:#36C;
      }
    .key {
      padding: 0.5em;
      margin-left: 0.5em;
      font-size: 90%;
    }

/* Results Table
 **************************************************************************************************/

.total > th,
.total > td {
  background:#252525;
  color:#999;
  /*font-size: 110%*/
}
  .total > .title {
    font-weight:bold;
    color:#FFF;
    text-transform: uppercase;
  }
  .total > td > .result {
    color:#999;
  }

.sort,
.sort:visited {
  color:#252525;
}

.int {
  text-align:right
}

.ps {
  width:9em
}

.iocli {
  width:9em
}

.iocli-jpeg {
  width: 15em
}

.codekit {
  width:10em
}

.grunt {
  width:13em
}

.smushit {
  width:9em
}

.tinypng {
  width:10em
}

/* Result Cells
 **************************************************************************************************/

/* link to each optimised image */
.result {
  color:#252525;
}
  .result:hover {
    text-decoration: underline;
  }

/* result which made no gains */
.noop,
.total > .noop {
  background:#D62323;
}
  .noop,
  .total > .noop > .result {
    color:#252525
  }

/* result which made file larger */
.degrade,
.total > .degrade {
  background:#252525;
}
  .degrade,
  .degrade > .result {
    color:#999
  }

/* result with best gains */
.best,
.total > .best {
  background:#8BBF36;
}
  .best,
  .total > .best > .result {
    color:#252525
  }
