!!! 5
html(lang='en-GB')
  head
    meta(charset='UTF-8')
    title ImageOptim-CLI: Batch optimisation of images
    link(rel='icon', type='image/x-icon', href='/static/favicon.ico')
    link(rel='stylesheet', href='/src/css/styles.min.css')
    //- include ../css/styles.min.css
  body
    .head
      hgroup
        h1 ImageOptim-CLI
        h2 Automates batch optimisation of images.
      p
        | See the
        <a href="https://github.com/JamieMason/ImageOptim-CLI#installation">installation guide</a>
        | #{', '}
        <a href="https://github.com/JamieMason/ImageOptim-CLI#examples">examples</a>
        | #{' and '}
        <a href="https://github.com/JamieMason/grunt-imageoptim">grunt-imageoptim</a>.

      p
        | The table below compares the performance of several image optimisation tools, all of which
        | give us impressive savings in file size.

        | Click each result to judge the difference between them and the Photoshop originals for
        | yourself.

    a(href='https://github.com/JamieMason/ImageOptim-CLI')
      img.ribbon(src='/static/fork-me.png', alt='Fork ImageOptim-CLI on GitHub', width=149, height=149)
