!!! 5
html(lang='en-GB', ng-app='AssessCompress', ng-controller='AppCtrl')
  head
    meta(charset='UTF-8')
    title ImageOptim-CLI: Batch optimisation of images
    link(rel='icon', type='image/x-icon', href='favicon.ico')
    include browser/min.css
  body.ng-cloak
    .head
      hgroup
        h1 ImageOptim-CLI
        h2 Automates batch optimisation of images.
      p
        | See the <a href="https://github.com/JamieMason/ImageOptim-CLI#installation">installation guide</a>, <a href="https://github.com/JamieMason/ImageOptim-CLI#examples">examples</a> and <a href="https://github.com/JamieMason/grunt-imageoptim">grunt-imageoptim</a>.

      p

        | The table below compares the performance of several image optimisation tools, all of which
        | give us impressive savings in file size.

        | Click each result to judge the difference between them and the Photoshop originals for
        | yourself.

    a(href='https://github.com/JamieMason/ImageOptim-CLI')
      img.ribbon(src='fork-me.png', alt='Fork ImageOptim-CLI on GitHub', width=149, height=149)
    .results
      .toolbar
        .tbgroup.filters
          | Show results for:
          button.btn(ng-click='ordering.filter=\'\'', ng-class='{\'btn--active\':ordering.filter==\'\'}') ALL
          button.btn(ng-click='ordering.filter=\'jpg\'', ng-class='{\'btn--active\':ordering.filter==\'jpg\'}') JPEG
          button.btn(ng-click='ordering.filter=\'png\'', ng-class='{\'btn--active\':ordering.filter==\'png\'}') PNG
          button.btn(ng-click='ordering.filter=\'gif\'', ng-class='{\'btn--active\':ordering.filter==\'gif\'}') GIF
        .tbgroup.legend
          | Legend:
          span.key.best Best
          span.key.noop No Savings
          span.key.degrade Size increased
          span.key.na N/A
      table
        caption Comparison of popular image optimisers
        thead
          tr
            th(scope='col')
              a.sort(href='#', ng-click='orderBy(\'image\')') Image
            th.int.ps(scope='col')
              a.sort(href='#', ng-click='orderBy(\'size\')') Photoshop
            th.int.iocli(scope='col')
              a.sort(href='#', ng-click='orderBy(\'imageoptim.sizeLossPercent\')') ImageOptim-CLI
            th.int.iocli-jpeg(scope='col')
              a.sort(href='#', ng-click='orderBy(\'imageoptim_imagealpha.sizeLossPercent\')') ImageOptim-CLI<br>+ ImageAlpha
            th.int.iocli-jpeg(scope='col')
              a.sort(href='#', ng-click='orderBy(\'imageoptim_jpegmini.sizeLossPercent\')') ImageOptim-CLI<br>+ JPEGmini
            th.int.kraken(scope='col')
              a.sort(href='#', ng-click='orderBy(\'kraken.sizeLossPercent\')') Kraken
            th.int.codekit(scope='col')
              a.sort(href='#', ng-click='orderBy(\'codekit.sizeLossPercent\')') CodeKit
            th.int.grunt(scope='col')
              a.sort(href='#', ng-click='orderBy(\'grunt_contrib_imagemin.sizeLossPercent\')') grunt-contrib-imagemin
            th.int.smushit(scope='col')
              a.sort(href='#', ng-click='orderBy(\'smushit.sizeLossPercent\')') Smushit
            th.int.tinypng(scope='col')
              a.sort(href='#', ng-click='orderBy(\'tinypng.sizeLossPercent\')') TinyPNG
        tbody
          tr(ng-repeat='img in results | orderBy:ordering.key:ordering.descending')

            td
              | {{img.image}}

            td.int.ps
              a.result(ng-href='images/photoshop/{{img.image}}')
                | {{img.size}} bytes

            td.int.iocli(ng-class='css(img,\'imageoptim\')')
              div(image='img.image', result='img[\'imageoptim\']', tool='\'imageoptim\'')

            td.int.iocli(ng-class='css(img,\'imageoptim_imagealpha\')')
              div(image='img.image', result='img[\'imageoptim_imagealpha\']', tool='\'imageoptim_imagealpha\'')

            td.int.iocli-jpeg(ng-class='css(img,\'imageoptim_jpegmini\')')
              div(image='img.image', result='img[\'imageoptim_jpegmini\']', tool='\'imageoptim_jpegmini\'')

            td.int.kraken(ng-class='css(img,\'kraken\')')
              div(image='img.image', result='img[\'kraken\']', tool='\'kraken\'')

            td.int.codekit(ng-class='css(img,\'codekit\')')
              div(image='img.image', result='img[\'codekit\']', tool='\'codekit\'')

            td.int.grunt(ng-class='css(img,\'grunt_contrib_imagemin\')')
              div(image='img.image', result='img[\'grunt_contrib_imagemin\']', tool='\'grunt_contrib_imagemin\'')

            td.int.smushit(ng-class='css(img,\'smushit\')')
              div(image='img.image', result='img[\'smushit\']', tool='\'smushit\'')

            td.int.tinypng(ng-class='css(img,\'tinypng\')')
              div(image='img.image', result='img[\'tinypng\']', tool='\'tinypng\'')

    include browser/min.js
