!!! 5
html(lang='en-GB', ng-app='AssessCompress', ng-controller='AppCtrl')
  head
    meta(charset='UTF-8')
    title ImageOptim-CLI: Batch optimisation of images
    link(rel='icon', type='image/x-icon', href='favicon.ico')
    include browser/min.css
  body.ng-cloak
    .head
      hgroup
        h1 ImageOptim-CLI
        h2 Automates batch optimisation of images.
      p
        | <a href="https://github.com/JamieMason/ImageOptim-CLI#installation">Installation</a> and <a href="https://github.com/JamieMason/ImageOptim-CLI#examples">examples</a>.

    a(href='https://github.com/JamieMason/ImageOptim-CLI')
      img.ribbon(src='fork-me.png', alt='Fork ImageOptim-CLI on GitHub', width=149, height=149)
    .results
      .toolbar
        .tbgroup.filters
          | Show results for:
          button.btn(ng-click='ordering.filter=\'\'', ng-class='{\'btn--active\':ordering.filter==\'\'}') ALL
          button.btn(ng-click='ordering.filter=\'jpg\'', ng-class='{\'btn--active\':ordering.filter==\'jpg\'}') JPEG
          button.btn(ng-click='ordering.filter=\'png\'', ng-class='{\'btn--active\':ordering.filter==\'png\'}') PNG
          button.btn(ng-click='ordering.filter=\'gif\'', ng-class='{\'btn--active\':ordering.filter==\'gif\'}') GIF
        .tbgroup.legend
          | Legend:
          span.key.best Best
          span.key.noop No Savings
          span.key.degrade Size increased
          span.key.na N/A
        p
          | {percentage of file size removed} @ {percentage of quality maintained}
      table
        caption Comparison of popular image optimisers
        thead
          tr
            th(scope='col')
              a.sort(href='#', ng-click='orderBy(\'image\')') Image
            th.int.ps(scope='col')
              a.sort(href='#', ng-click='orderBy(\'size_photoshop\')') Photoshop
            th.int.iocli(scope='col')
              a.sort(href='#', ng-click='orderBy(\'saving_imageoptim_cli\')') ImageOptim-CLI
            th.int.iocli-jpeg(scope='col')
              a.sort(href='#', ng-click='orderBy(\'saving_imageoptim_cli_jpegmini\')')
                | ImageOptim-CLI
                br
                | + JPEGmini
            th.int.codekit(scope='col')
              a.sort(href='#', ng-click='orderBy(\'saving_codekit\')') CodeKit
            th.int.grunt(scope='col')
              a.sort(href='#', ng-click='orderBy(\'saving_grunt_contrib_imagemin\')') grunt-contrib-imagemin
            th.int.smushit(scope='col')
              a.sort(href='#', ng-click='orderBy(\'saving_smushit\')') Smushit
            th.int.tinypng(scope='col')
              a.sort(href='#', ng-click='orderBy(\'saving_tinypng\')') TinyPNG
        tbody
          tr(ng-repeat='img in results | orderBy:ordering.key:ordering.descending')

            td
              | {{img.image}}

            td.int.ps
              a.result(ng-href='images/imageoptim_cli_jpegmini/{{img.image}}')
                | {{img.size}} bytes

            td.int.iocli(ng-class='css(img,\'imageoptim_cli\')')
              div(image='img.image', result='img[\'imageoptim_cli\']', tool='\'imageoptim_cli\'')

            td.int.iocli-jpeg(ng-class='css(img,\'imageoptim_cli_jpegmini\')')
              div(image='img.image', result='img[\'imageoptim_cli_jpegmini\']', tool='\'imageoptim_cli_jpegmini\'')

            td.int.codekit(ng-class='css(img,\'codekit\')')
              div(image='img.image', result='img[\'codekit\']', tool='\'codekit\'')

            td.int.grunt(ng-class='css(img,\'grunt_contrib_imagemin\')')
              div(image='img.image', result='img[\'grunt_contrib_imagemin\']', tool='\'grunt_contrib_imagemin\'')

            td.int.smushit(ng-class='css(img,\'smushit\')')
              div(image='img.image', result='img[\'smushit\']', tool='\'smushit\'')

            td.int.tinypng(ng-class='css(img,\'tinypng\')')
              div(image='img.image', result='img[\'tinypng\']', tool='\'tinypng\'')

    include browser/min.js
